<% provide(:title, @user.name) %>
<div class="row">
	<aside class="col-md-4">
		<section class="user_info">
			<h1>
				<%= gravatar_for(@user, size:80) %>
				<%= @user.name %> </br>
			</h1>
		</section>
		<section class="stats">
			<%= render "shared/stats", user: @user %>
		</section>
	</aside>


<!--
<p>
<%= @user.name %> <%= @user.email %>
</p>
<p>
	Created at:
	<%= @user.created_at %>
</p>
<p>
	Updated at:
	<%= @user.updated_at %>
</p>
<p>
	Time Now:
	<%= Time.now %>
</p>
-->

	<div class="col-md-8">
		<% if logged_in? %>
			<%= render "follow_form" %>
		<% end %>

		<% if @user.microposts.any? %>
			<h3>Microposts (<%= @user.microposts.count%>)</h3>
			<ol class="microposts">
				
				<%= render @microposts %>
				<%= will_paginate @microposts %>
			</ol>
		<% end %>
	</div>

</div>

